/* add home page styles here */
header {
    background-color:azure;
}

body {
    background-color: bisque;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.adventurer img {
    width: 500px;
}

.adventurer {
    color: black;
    font-size: 5rem;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}

.adventurer p {
    background-color: chartreuse;
    border-radius: 15px;
    border-color: black;
    padding: 20px
}

.adventurer-stats {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.goblin-stats {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.goblin-stats input, .goblin-stats button {
    height: 100px;
}

.goblin-stats button {
    font-size: 2em;
}
.goblin-stats input {
    font-size: 3rem;
    width: 80%
}

.defeated-goblins { 
    text-align: center;
} 

.defeated-goblins p {
    font-size: 2rem;
    color: white;
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 15px;

}

form {
    padding: 20px;
    display: flex;
}


.goblin {
    cursor: pointer;
    border: solid 3px #5d086d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #dda1eb;
    justify-self: flex-end;
    font-size: 3rem;
}

.dead {
    opacity: .2;
    cursor: default;
}

.game-over {
    transform: rotate(90deg);
}